[build-system]
requires = ["setuptools", "setuptools-scm"]
build-backend = "setuptools.build_meta"

[project]
name = "{{ package_name }}"
dependencies = [
]
requires-python = ">={{ python_version }}"
authors = [
    {name = "{{ author }}"},
]
description = "{{ project_description }}"
readme = "README.md"
dynamic = ["version"]

[project.optional-dependencies]
dev = [
    "ipykernel==6.29.3",
    "pytest==8.1.1",
]

[project.scripts]
your-cli-command = "example.source:main"

[tool.setuptools_scm]
version_file = "src/{{ package_name }}/_version.py"

[tool.ruff]
line-length = 100
lint.select = ["I001"]  # More rules here: https://docs.astral.sh/ruff/rules/
