"""Replace the name of this file and its contents with the actual tests for the package."""

def test_import_package():
    """Tests that our package can be imported. This is a placeholder test."""
    import {{ package_name }}
